* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  color: #797979; 
}

#dltnst {
  background: url("../slike/slika2.jpg");
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-size:cover;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
  background-position: center;
  padding: 10%;
}

.transbox2 {
  width: 50%;
  margin: auto;
  background-color: hsla(0,0%,100%,0.40);
  padding: 3%;
}

div.skocica {
  width: 80px;
  height: 80px;
  border: none;
  background-color: #00cbff;
  border-radius: 50%;
  margin: 0;
  padding: 0;
  position: fixed;
  bottom:10%;
  right: 10%;
  opacity: 0.5;
  display: flex;
  justify-content: center;
}

div.skocica>a {
  display: flex;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  color: #000;
  font-weight: bold;
  font-size: 1.2em;

}


@media screen and (max-width: 650px) {
  .transbox2 {
    width: 80%;
  }
}